.container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  border: 1px solid rgb(25, 216, 230);
  border-radius: 20px;
  transition: background-color 1s;
  background-color: #ed1fe6;
  box-shadow: 10px 20px 20px hsla(248, 88%, 47%, 0.6);
}